<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create product</h1>
<p>
    <a href="/city">City list</a>
</p>
<!--/*@thymesVar id="message" type="java"*/-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/city/create}" th:object="${city}" method="post" >
    <table  border="1">
        <tr>
            <td>GDB:</td>
            <td><input type="text" th:field="*{GDB}"/></td>
        </tr>
        <tr>
        <tr>
            <td>AREA:</td>
            <td><input type="text" th:field="*{area}"/></td>
        </tr>
        <tr>
            <td>DESCRIPTION:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
        <td>NAME:</td>
        <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>POPULATION:</td>
            <td><input type="text" th:field="*{population}"/></td>
        </tr>
        <tr>
            <td>Province :</td>
            <td>
                <select name="name" th:field="*{province}">
                    <option
                            th:each="p : ${provinces}"
                            th:value="${p.id}"
                            th:text="${p.name}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create city"></td>
        </tr>
    </table>
</form>
</body>
</html>